<div class="row">
    <div class="container-fluid">
        <div class="float-right">
            <a href="faq.php?id=0" class="btn btn-outline-success" title="{{#str}}new_template, local_selfservehd{{/str}}">{{#str}}new_template, local_selfservehd{{/str}}</a>
            <a href="index.php" class="btn btn-outline-primary" title="{{#str}}dashboard, local_selfservehd{{/str}}">{{#str}}dashboard, local_selfservehd{{/str}}</a>
        </div>
    </div>
</div>
<div class="card-body">   
    <div class="card-deck">
        {{#faqs}}
        <div class="card">
            <div class="card-header ">
                {{{name}}}
            </div>
            <div class="card-body">
                {{#lang}}
                {{{message_fr}}}
                {{/lang}}
                {{^lang}}
                {{{message_en}}}
                {{/lang}}                
            </div>
            <div class="card-footer">
                <a href="faq.php?id={{{id}}}" class="editFaq btn btn-outline-primary" title="{{#str}}edit, local_selfservehd{{/str}}">
                    <i class="fa fa-edit" ></i>
                </a>

                <a href="javascript:void(0);"  class="deleteFaq btn btn-outline-danger" data-id="{{{id}}}" title="{{#str}}delete, local_selfservehd{{/str}}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        {{/faqs}}
    </div>
</div>

{{> local_selfservehd/delete_modal }}
{{#js}}
require(['local_selfservehd/faqs'], function(mod) {
mod.init();
});
{{/js}}