
<div class="row">
    <div class="col">
        <h2>{{#str}}statistics, local_selfservehd{{/str}} 
            <span class="float-right">
                <a href="../index.php" class="btn btn-outline-primary" title="{{#str}}dashboard, local_selfservehd{{/str}} ">
                    {{#str}}dashboard, local_selfservehd{{/str}} 
                </a>
            </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>{{#str}}calls_per_room, local_selfservehd{{/str}}</h3>
            </div>
            <div class="card-body">
                {{{callsToRoom}}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>{{#str}}number_of_calls_answered, local_selfservehd{{/str}}</h3>
            </div>
            <div class="card-body">
                {{{agents}}}
            </div>
        </div>
    </div>
</div>

